.input {
  width: 100%;
  height: 40px;
  border: 2px solid var(--grey-700);
  border-radius: 0;
  background-color: var(--white);
  padding: 0 12px;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 16px;
  color: var(--grey-700);
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: var(--blue-900);
}

.input::placeholder {
  color: var(--grey-600);
  font-style: italic;
  font-size: 16px;
}

