.footer {
  margin-top: var(--spacing-5xl);
}

.footer__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.footer__divider {
  border-top: 1px solid var(--grey-300);
  margin-bottom: var(--spacing-l);
}

.footer__text {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-sm);
  color: var(--grey-600);
  line-height: 1.4;
}
