.button {
  border: 2px solid var(--grey-700);
  background-color: var(--grey-300);
  border-radius: 0;
  color: var(--grey-700);
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  display: block;
}

.button:hover {
  opacity: 0.9;
}

.button--solid-shadow {
  box-shadow: 2px 2px 0 0 color-mix(in srgb, var(--grey-700) 80%, transparent);
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.button--solid-shadow:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.button--fixed-height {
  height: 40px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.button--hover-darken:hover {
  background-color: hsl(214, 30%, 87%);
}

.button--with-icon {
  gap: 8px;
}

.button--icon-only {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  font-size: 24px;
}

