.badge {
  border: none;
  background-color: var(--grey-300);
  border-radius: 0;
  color: var(--grey-700);
  padding: 0 12px;
  font-size: 12px;
  font-family: var(--font-family-sans);
  display: inline-flex;
  align-items: center;
  height: 28px;
  letter-spacing: 0.4%;
}

