.textarea {
  width: 100%;
  min-height: 120px;
  border: 2px solid var(--grey-700);
  border-radius: 0;
  background-color: var(--white);
  padding: 12px;
  font-family: var(--font-family-sans);
  font-size: 16px;
  color: var(--grey-700);
  letter-spacing: 0.2px;
  box-sizing: border-box;
  resize: vertical;
}

.textarea:focus {
  outline: none;
  border-color: var(--blue-900);
}

.textarea::placeholder {
  color: var(--grey-600);
  font-style: italic;
  font-size: 16px;
}

