.heading {
  color: var(--grey-900);
  font-family: var(--font-family-sans);
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
}

.heading--1 {
  font-size: 30px;
}

.heading--2 {
  font-size: 24px;
}

.heading--3 {
  font-size: 19px;
}

.paragraph {
  color: var(--grey-900);
  font-family: var(--font-family-serif);
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}

.paragraph--1 {
  font-size: 16px;
}

.paragraph--2 {
  font-size: 16px;
  color: var(--grey-600);
}

.paragraph--light {
  font-weight: 400;
}
